/* CSS declarations go here */
html {
  box-sizing: border-box;
}

@media screen and (orientation: landscape) {
  th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse; 
  }

  #delete {
    float: right;
    margin-right: 10px;
    font-weight: bold;
    background: #DE4F4F;
    color: #FFF;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;;
  }

  .container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    border-radius: 0px 0px 16px 16px;
  }

  .form-control,
  .input {
    width:20em;
  }
}

@media screen and (orientation: portrait) {
  th, td {
    padding: 3px;
    font-size: 10px;
    border: 1px solid black;
    border-collapse: collapse; 
  }

  #delete {
    float: right;
    margin-right: 1px;
    font-weight: bold;
    background: #DE4F4F;
    color: #FFF;
    font-size: 10px;
    padding: 1px 1px;
    border: none;
    border-radius: 4px;;
  }

  .container {
    padding-top: 20px;
    padding-bottom: 20px
    margin: 0 auto;
    background: white;
    min-height: 1000px;
  }

  .form-control,
  .input {
    width:100%;
  }
  
}

*, *:before, *:after {
  box-sizing: inherit;
}



body {
  font-family: sans-serif;
  font-size: 16px;
  background: #333;
}


header {
  margin-top: 2em;
}

footer, .message {
  padding: 20px;
  position: relative;
}


h1 {
  color: #33cc33;
  font-size: 2em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

ul {
  padding:0;
}



th {
  color:white;
  background-color:  #33cc33;

}

tr:nth-child(even){
  background-color: #fff;
}

tr:nth-child(odd){
  background-color: #eee;
}


.top{
  margin-top: 30px;
  margin-bottom: 80px;
}

.bottom{
  padding-top: 30px;
  padding-bottom: 30px;  
}

.mainTable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.secondaryTable{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.twitter-typeahead {
  display: inline !important;
}

.nav-item{
  margin-right: 1em;
}

.login{
  float:right;
  
}

.green_btn {
  float: right;
  font-weight: bold;
  background:  #33cc33;
  color: #FFF;
  font-size: 1em;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  
}

#add {
  vertical-align: top;
  margin-top: 1em; 
}

.form-control,
.input {
  display:inline;
  vertical-align: top;
  font-family: sans-serif;
  font-size: 16px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  margin-top: 1em; 
}

.stepper{
  color : #33cc33;
  width: 50px; 
  height: 40px;
  font-family: sans-serif;
  font-size: 25px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  padding-left: 10px;
}



.input:focus{
  border: 2px solid #33cc33;
}

.control{
    background-color: #e6e6e6;
    width:100%;
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
          border-radius: 8px;
}

.sort {
    float:left;
    padding: 30px;
}

.filter{
    float: left;
    padding: 30px;
}

.download {
    float: right;
    padding: 30px;
}

#filter{
    border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}


.btn-default{
  background-color: #33cc33;
  color: white;
}


.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #33cc33;
}

.tt-hint {
  color: #999;
}

.tt-menu {
  margin: 30px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #84e184;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #84e184;
}

.tt-suggestion p {
  margin: 0;
}

.total{
  color : #33cc33;
}
