/* CSS declarations go here */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: sans-serif;
  font-size: 16px;
  background: #333;
}

.container {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

header {
  padding: 20px 15px 20px 15px;
  position: relative;
}

h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.add {
  font-weight: bold;
  background:  #33cc33;
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;;
}

.delete {
  float: right;
  font-weight: bold;
  background: #DE4F4F;
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;;
}

table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	background-color:  #33cc33;
}

tr:nth-child(even){
	background-color: #fff;
}

tr:nth-child(odd){
	background-color: #eee;
}

.typeahead,
.tt-query,
.tt-hint,
.input {
  font-family: sans-serif;
  font-size: 16px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.input{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 4px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


