body {
  background: #333;
}

h1 {
  color: #33cc33;
}
th {
  color:white;
  background-color:  #33cc33;

}

tr:nth-child(even){
  background-color: #fff;
}

tr:nth-child(odd){
  background-color: #eee;
}

@media screen and (max-width: 800px) {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    background: white;
    min-height: 100vh;
  }
}
@media screen and (min-width: 800px) {
  .container {
    padding-top: 30px;
    padding-bottom: 60px;
    background: white;
    min-height:100%;
    border-radius: 0px 0px 16px 16px;
  }
}

.HammerTouchArea{
  color:green;
}


.twitter-typeahead{
    width: 100% !important;
}

.stepper{
  color : #33cc33;
  width: 50px; 
  height: 30px;
  font-family: sans-serif;
  font-size: 16px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  padding-left: 10px;
}

.form-control,
.typeahead,
.tt-query,
.tt-hint {
  width:100% !important;
  border: 2px solid #ccc;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100% !important;
  width: auto;
  margin: 4px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.table-striped{

}

.control{
    padding-top: 20px;
    background-color: #e6e6e6;
    width:100%;
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
          border-radius: 8px;
}

